{{- /* SPDX-FileCopyrightText: 2025 Antoni Szymański */ -}}
{{- /* SPDX-License-Identifier: MPL-2.0 */ -}}

/* {{$.GoPath}} */
{{range $path := $.Imports.Keys -}}
import * as {{$path}} from "./{{$path}}";
{{end}}

{{- range $def := $.Defs.Values}}
{{$def}}
{{end}}